In [91]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df1=pd.read_csv('C:/Users/Dheeraj/Desktop/Dheeraj/SEM 5 DATA ANALYTICS ASSIGNMENT/deliveries2.csv')

In [92]:
df1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,winner
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,4,0,4,NaN,NaN,NaN,Sunrisers Hyderabad
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,2,2,NaN,NaN,NaN,Sunrisers Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,1,0,1,NaN,NaN,NaN,Mumbai Indians
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,2,0,2,NaN,NaN,NaN,Mumbai Indians
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,1,0,1,SR Watson,run out,KH Pandya,Mumbai Indians
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,2,0,2,NaN,NaN,NaN,Mumbai Indians
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,SN Thakur,lbw,NaN,Mumbai Indians

In [93]:
#Find max and min dismissals
Unique=df1['fielder'].dropna()
Dissmissals=Unique.value_counts()
print('Max dismissals by',Dissmissals.head(1))
print('Min dismissals by',Dissmissals[Dissmissals==1])

Max dismissals by MS Dhoni    159
Name: fielder, dtype: int64
Min dismissals by JP Duminy (sub)          1
M Santner                1
RG More                  1
LA Pomersbach (sub)      1
M Lomror                 1
                        ..
NLTC Perera (sub)        1
R Ninan                  1
A Joseph                 1
P Suyal                  1
Shakib Al Hasan (sub)    1
Name: fielder, Length: 93, dtype: int64

In [101]:
df1.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

In [94]:
#Counting each type of wicket
Out=df1['dismissal_kind'].dropna()
Wickets=Out.value_counts()
print('Max dismissals by',Wickets.head(1))
Wickets

Max dismissals by caught    5348
Name: dismissal_kind, dtype: int64

caught                   5348
bowled                   1581
run out                   852
lbw                       540
stumped                   278
caught and bowled         211
retired hurt               12
hit wicket                 10
obstructing the field       2
Name: dismissal_kind, dtype: int64

In [102]:
#correlation between variables
df1.corr()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
match_id,1.000000,0.003958,0.008268,-0.001349,-0.009150,-0.007549,0.000905,-0.012429,-0.004623,-0.001475,0.033510,-0.013323,0.030727
inning,0.003958,1.000000,-0.050076,-0.003943,0.084154,0.001201,-0.000757,-0.001996,-0.000904,0.003442,-0.005362,-0.000531,-0.005485
over,0.008268,-0.050076,1.000000,-0.007424,-0.034329,-0.010003,0.012111,-0.004764,0.016984,-0.000979,0.086701,-0.002479,0.086326
ball,-0.001349,-0.003943,-0.007424,1.000000,-0.001143,-0.004665,0.006602,-0.002727,0.000567,0.000711,0.007950,-0.002576,0.007414
is_super_over,-0.009150,0.084154,-0.034329,-0.001143,1.000000,-0.001019,0.001353,0.001735,0.013640,-0.000071,0.010125,0.003504,0.010891
wide_runs,-0.007549,0.001201,-0.010003,-0.004665,-0.001019,1.000000,-0.006196,-0.015855,-0.008675,0.012817,-0.094579,0.720916,0.059077
bye_runs,0.000905,-0.000757,0.012111,0.006602,0.001353,-0.006196,1.000000,-0.004596,-0.002515,-0.000142,-0.018936,0.332352,0.051946
legbye_runs,-0.012429,-0.001996,-0.004764,-0.002727,0.001735,-0.015855,-0.004596,1.000000,-0.006434,-0.000362,-0.070106,0.554458,0.048075
noball_runs,-0.004623,-0.000904,0.016984,0.000567,0.013640,-0.008675,-0.002515,-0.006434,1.000000,-0.000198,0.004832,0.194899,0.046427
penalty_runs,-0.001475,0.003442,-0.000979,0.000711,-0.000071,0.012817,-0.000142,-0.000362,-0.000198,1.000000,-0.002591,0.057882,0.009755
batsman_runs,0.033510,-0.005362,0.086701,0.007950,0.010125,-0.094579,-0.018936,-0.070106,0.004832,-0.002591,1.000000,-0.114806,0.977278
extra_runs,-0.013323,-0.000531,-0.002479,-0.002576,0.003504,0.720916,0.332352,0.554458,0.194899,0.057882,-0.114806,1.000000,0.098363
total_runs,0.030727,-0.005485,0.086326,0.007414,0.010891,0.059077,0.051946,0.048075,0.046427,0.009755,0.977278,0.098363,1.000000

In [110]:
#Counting the number of times the person has gotten dismissed
Count=df1['player_dismissed'].dropna()
Wickets=Count.value_counts()
print("Player dismissed most number of times is",Wickets.head(1))
Wickets

Player dismissed most number of times is SK Raina    162
Name: player_dismissed, dtype: int64

SK Raina         162
RG Sharma        155
RV Uthappa       153
V Kohli          143
S Dhawan         137
                ...
TM Srivastava      1
P Chopra           1
DE Bollinger       1
SE Bond            1
Basil Thampi       1
Name: player_dismissed, Length: 487, dtype: int64

In [96]:
df2=pd.read_csv('C:/Users/Dheeraj/Desktop/Dheeraj/SEM 5 DATA ANALYTICS ASSIGNMENT/matches.csv')
df2

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [97]:
#Null values in every column
df2.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [98]:
df2.corr()

                      id    season  dl_applied  win_by_runs  win_by_wickets
id              1.000000  0.668304   -0.011658    -0.039403       -0.012239
season          0.668304  1.000000   -0.001116    -0.037529       -0.009379
dl_applied     -0.011658 -0.001116    1.000000    -0.016349       -0.011631
win_by_runs    -0.039403 -0.037529   -0.016349     1.000000       -0.560420
win_by_wickets -0.012239 -0.009379   -0.011631    -0.560420        1.000000

In [103]:
df3=pd.read_csv('C:/Users/Dheeraj/Desktop/Dheeraj/SEM 5 DATA ANALYTICS ASSIGNMENT/Overwise statistics without super over.csv')

In [137]:
df3

,match_id,inning,batting_team,bowling_team,over,runs,wickets,winner
0,1.0,1.0,Sunrisers Hyderabad,Royal Challengers Bangalore,1.0,7.0,0.0,Sunrisers Hyderabad
1,1.0,1.0,Sunrisers Hyderabad,Royal Challengers Bangalore,2.0,16.0,1.0,Sunrisers Hyderabad
2,1.0,1.0,Sunrisers Hyderabad,Royal Challengers Bangalore,3.0,6.0,0.0,Sunrisers Hyderabad
3,1.0,1.0,Sunrisers Hyderabad,Royal Challengers Bangalore,4.0,4.0,0.0,Sunrisers Hyderabad
4,1.0,1.0,Sunrisers Hyderabad,Royal Challengers Bangalore,5.0,9.0,0.0,Sunrisers Hyderabad
...,...,...,...,...,...,...,...,...
30235,11415.0,2.0,Chennai Super Kings,Mumbai Indians,16.0,20.0,0.0,Mumbai Indians
30236,11415.0,2.0,Chennai Super Kings,Mumbai Indians,17.0,5.0,0.0,Mumbai Indians
30237,11415.0,2.0,Chennai Super Kings,Mumbai Indians,18.0,20.0,0.0,Mumbai Indians
30238,11415.0,2.0,Chennai Super Kings,Mumbai Indians,19.0,13.0,1.0,Mumbai Indians
30239,11415.0,2.0,Chennai Super Kings,Mumbai Indians,20.0,7.0,2.0,Mumbai Indians

In [142]:
#statistics of every team that bats first
a=df3.groupby(['batting_team','winner'])
a.first()

                                                 match_id  inning  \
batting_team        winner
Chennai Super Kings Chennai Super Kings              61.0     1.0
                    Deccan Chargers                  85.0     1.0
                    Delhi Capitals                   79.0     1.0
                    Kings XI Punjab                 190.0     2.0
                    Kochi Tuskers Kerala            252.0     1.0
...                                                   ...     ...
Sunrisers Hyderabad Mumbai Indians                   10.0     1.0
                    Rajasthan Royals                416.0     1.0
                    Rising Pune Supergiants          25.0     1.0
                    Royal Challengers Bangalore     432.0     1.0
                    Sunrisers Hyderabad               1.0     1.0

                                                                bowling_team  \
batting_team        winner
Chennai Super Kings Chennai Super Kings                      Kings XI Punjab
                    Deccan Chargers                          Deccan Chargers
                    Delhi Capitals                          Delhi Daredevils
                    Kings XI Punjab                          Kings XI Punjab
                    Kochi Tuskers Kerala                Kochi Tuskers Kerala
...                                                                      ...
Sunrisers Hyderabad Mumbai Indians                            Mumbai Indians
                    Rajasthan Royals                        Rajasthan Royals
                    Rising Pune Supergiants           Rising Pune Supergiant
                    Royal Challengers Bangalore  Royal Challengers Bangalore
                    Sunrisers Hyderabad          Royal Challengers Bangalore

                                                 over  runs  wickets
batting_team        winner
Chennai Super Kings Chennai Super Kings           1.0   5.0      0.0
                    Deccan Chargers               1.0   4.0      1.0
                    Delhi Capitals                1.0   4.0      0.0
                    Kings XI Punjab               1.0   6.0      0.0
                    Kochi Tuskers Kerala          1.0   8.0      0.0
...                                               ...   ...      ...
Sunrisers Hyderabad Mumbai Indians                1.0   2.0      0.0
                    Rajasthan Royals              1.0   2.0      1.0
                    Rising Pune Supergiants       1.0   7.0      0.0
                    Royal Challengers Bangalore   1.0   7.0      0.0
                    Sunrisers Hyderabad           1.0   7.0      0.0

[146 rows x 6 columns]

In [108]:
#max number of times a team has won
Winner=df3['winner'].value_counts()
print("Most successful team",Winner.head(1))
Winner

Most successful team Mumbai Indians    4360
Name: winner, dtype: int64

Mumbai Indians                 4360
Chennai Super Kings            4000
Kolkata Knight Riders          3680
Royal Challengers Bangalore    3360
Kings XI Punjab                3280
Delhi Capitals                 3080
Rajasthan Royals               3000
Sunrisers Hyderabad            2320
Deccan Chargers                1160
Rising Pune Supergiants         600
Gujarat Lions                   520
Pune Warriors                   480
Kochi Tuskers Kerala            240
Name: winner, dtype: int64